<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jhy.myspaceshopping.myspaceshopping">
    <!--允许联网 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!--获取GSM（2g）、WCDMA（联通3g）等网络状态的信息  -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--获取wifi网络状态的信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--保持CPU 运转，屏幕和键盘灯有可能是关闭的,用于文件上传和下载 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--获取sd卡写的权限，用于文件上传和下载-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--允许读取手机状态 用于创建BmobInstallation-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--百度地图 添加所需权限 -->
    <!-- 获取运营商信息，用于支持提供运营商信息相关的接口-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- 这个权限用于获取wifi的获取权限，wifi信息会用来进行网络定位-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 用于访问wifi网络信息，wifi信息会用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- 写入扩展存储，向扩展卡写入数据，用于写入离线定位数据-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- 这个权限用于进行网络定位-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 用于读取手机当前的状态-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <!-- 这个权限用于访问GPS定位-->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"></uses-permission>
    <!-- SD卡读取权限，用户写入离线定位数据-->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- 将我们以前一直用的默认Application设置成自定义的MapApplication -->
        <!--百度地图 添加开发密钥 -->
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="mFtTyrALsxs9p904ndgESKAL7lNKEUFh" />
        <!--百度定位中的服务-->

        <activity android:name=".activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>




        <activity
            android:name=".activity.HomeSearchCityActivity"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:name=".activity.HomeSearchActivity"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:name=".activity.HomeMovieActivity"
            android:launchMode="singleTask">

        </activity>
        <activity
            android:name=".activity.ListTestActivity"
            android:launchMode="singleTask">

        </activity>
        <activity android:name=".activity.WebViewActivity">

        </activity>

        <activity android:name=".activity.LoginActivity" android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.JuPersonActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.JuCommentActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.JuNewsActivity" android:launchMode="singleTask"/>

        <activity android:name=".activity.SingupActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.JuPersonModifyActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.JuUploadImgActivity" android:launchMode="singleTask"/>
        <activity android:name=".activity.JuCreatePostActivity" android:launchMode="singleTask"/>
        <activity
            android:name=".activity.MoreActivity"
            android:launchMode="singleTask"/>
    </application>

</manifest>